<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		/>
		<link rel="stylesheet" href="/assets/css/yaslar.css" />
		<title>Document</title>
	</head>
	<header>
		<div class="container">
			<nav>
				<div class="logo"><b><</b>MCB<b>></b></div>
				<ul class="navItems">
					<li><a href="#">Anasayfa</a></li>
					<li><a href="#">Hakkımızda</a></li>
					<li><a href="#">İletişim</a></li>
				</ul>
				<div class="links">
					<a href="https://github.com/bugamehmet" target="_blank"><i class="fab fa-github"></i></a>
				</div>
			</nav>
		</div>
	</header>
	<body>
		<div class="bilgiler-container">
			<form class="bilgiler-form" action="/kolay" method="post">
				<h1>KOLAY TESTLER İÇİN TIKLAYINIZ</h1>
				<div class="bilgiler-kolay" id="bilgi-1">
					<div class="girdiler">
						<button type="submit">KOLAY</button>
					</div>
				</div>
			</form>
			<form class="bilgiler-form" action="/zor" method="post">
				<h1>ZOR TESTLER İÇİN TIKLAYINIZ</h1>
				<div class="bilgiler-zor" id="bilgi-1">
					<div class="girdiler">
						<button type="submit">KOLAY</button>
					</div>
				</div>
			</form>
		</div>
		<div class="hesapla">
			<form action="/hesapla4yas" method="POST">
				<button type="submit"><h1>PUAN HESAPLA</h1></button>
			</form>
		</div>
	</body>
</html>
