<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/assets/anasayfa.css" />
		<link
			rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
		<title>Giriş Sayfası</title>
	</head>
	<header>
		<%- include("partials/nav")  %>
	</header>
	<body>
		<div class="bilgiler">
			<div class="girdiler">
				<form class="bilgiler" action="/" method="post">
					<div class="form-group">
						<label for="memleket">Memleketi Giriniz:</label>
						<input type="text" id="memleket" name="memleket" placeholder="Memleket" />
					</div>
					<div class="form-group">
						<label for="gelir">Ailenin Gelir Durumu:</label>
						<input type="text" id="gelir" name="gelir" placeholder="Ailenin gelir durumu" />
					</div>
					<div class="form-group">
						<label>Aile geçmişinde zihinsel rahatsızlığı bulunan birey var mı?</label>
						<label for="var_yok_var">
							<input type="radio" id="var_yok_var" name="var_yok" value="var" checked /> Var
						</label>
						<label for="var_yok_yok">
							<input type="radio" id="var_yok_yok" name="var_yok" value="yok" /> Yok
						</label>
					</div>
					<div class="form-group">
						<button type="submit" class="btn" value="LOGIN">DEVAM ET</button>
					</div>
				</form>
			</div>
		</div>
		<div class="testler">
			<div class="container"></div>
		</div>
	</body>
</html>
