<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/assets/css/5zortest2.css">
		<title>FARK BULMA OYUNU</title>
	</head>
	<body>
		<div class="oyun">
			<button type="button" id="basla">Oyna</button>
		</div>
		<div class="resimler">
			<div class="resim1">
				<button type="button" id="resim1" value="1"></button>
			</div>
			<div class="resim2">
				<button type="button" id="resim2" value="2"></button>
			</div>
			<div class="resim3">
				<button type="button" id="resim3" value="3"></button>
			</div>
      <div class="resim4">
				<button type="button" id="resim4" value="4"></button>
			</div>
      <div class="resim5">
				<button type="button" id="resim5" value="5"></button>
			</div>
      <div class="resim6">
				<button type="button" id="resim6" value="6"></button>
			</div>
		</div>
		<script src="/public/5zor/test2-5z.js"></script>
	</body>
</html>