<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>FARK BULMA OYUNU</title>
	</head>
	<body>
		<div class="oyun">
			<button type="button" id="basla">Oyna</button>
		</div>
		<div class="resimler">
			<div class="resim1">
				<button type="button" id="resim1" value="1"></button>
			</div>
			<div class="resim2">
				<button type="button" id="resim2" value="2"></button>
			</div>
			<div class="resim3">
				<button type="button" id="resim3" value="3"></button>
			</div>
      <div class="resim4">
				<button type="button" id="resim4" value="4"></button>
			</div>
      <div class="resim5">
				<button type="button" id="resim5" value="5"></button>
			</div>
      <div class="resim6">
				<button type="button" id="resim6" value="6"></button>
			</div>
		</div>
		<script src="/public/5zor/test2-5z.js"></script>
	</body>
</html>

<style>
	@font-face {
		font-family: 'amatic';
		src: url('/assets/fonts/AmaticSC-Regular.ttf');
	}
	* {
		margin: 0;
		padding: 0;
	}
	body {
		background-image: url(/assets/images/bulut2.jpg);
		font-family: 'amatic';
	}
	#ses {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#ses-button {
		font-family: 'amatic';
		padding: 10px;
		margin-top: 20px;
		font-size: 25px;
		border: 2px solid black;
		border-radius: 10px;
		background-color: #4caf50;
		color: white;
		cursor: pointer;
	}
	.resimler {
		display: none;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 300px;
	}
	.oyun button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: 'amatic';
		font-size: 50px;
		color: #ffffff;
		background-image: url(/assets/images/back1.jpg);
		background-repeat: repeat;
		background-size: cover;
		border: 5px solid black;
		border-radius: 200px;
		width: 200px;
		height: 200px;
		padding: 13px;
		cursor: pointer;
	}
	.resim1 button {
		font-family: 'amatic';
		font-size: 20px;
		color: #ffffff;
		background-image: url(/assets/images/5zortest2/kagit-1.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		border: 5px solid black;
		border-radius: 20px;
		width: 270px;
		height: 200px;
		padding: 13px;
		margin-top: 10px;
		cursor: pointer;
	}
	.resim2 button {
		font-family: 'amatic';
		font-size: 20px;
		color: #ffffff;
		background-image: url(/assets/images/5zortest2/kagit-1.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		border: 5px solid black;
		border-radius: 20px;
		width: 270px;
		height: 200px;
		padding: 13px;
		margin-top: 10px;
		cursor: pointer;
	}
	.resim3 button {
		font-family: 'amatic';
		font-size: 20px;
		color: #ffffff;
		background-image: url(/assets/images/5zortest2/kagit-1.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		border: 5px solid black;
		border-radius: 20px;
		width: 270px;
		height: 200px;
		padding: 13px;
		margin-top: 10px;
		cursor: pointer;
	}
	.resim4 button {
		font-family: 'amatic';
		font-size: 20px;
		color: #ffffff;
		background-image: url(/assets/images/5zortest2/kagit-2.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		border: 5px solid black;
		border-radius: 20px;
		width: 270px;
		height: 200px;
		padding: 13px;
		margin-top: 10px;
		cursor: pointer;
	}
	.resim5 button {
		font-family: 'amatic';
		font-size: 20px;
		color: #ffffff;
		background-image: url(/assets/images/5zortest2/kagit-1.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		border: 5px solid black;
		border-radius: 20px;
		width: 270px;
		height: 200px;
		padding: 13px;
		margin-top: 10px;
		cursor: pointer;
	}
	.resim6 button {
		font-family: 'amatic';
		font-size: 20px;
		color: #ffffff;
		background-image: url(/assets/images/5zortest2/kagit-1.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		border: 5px solid black;
		border-radius: 20px;
		width: 270px;
		height: 200px;
		padding: 13px;
		margin-top: 10px;
		cursor: pointer;
	}
</style>
