<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Puzzle</title>
        <link rel="stylesheet" href="/assets/css/6zortest2.css">
        <script src="/public/6zor/test2-6z.js"></script>
    </head>

    <body>
        <br>
        <div id="tahta"></div>
        <h2>Turns: <span id="hareketler">0</span></h2>
        <img src="/assets/images/6zortest2/puzzle.jpg" alt="">
    </body>
</html>