@font-face {
  font-family: 'amatic';
  src: url('/assets/fonts/AmaticSC-Regular.ttf');
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/assets/images/bulut2.jpg);
  font-family: 'amatic';
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 80px;
  line-height: 80px;
  z-index: 111;
}
.logo {
  margin-left: 90px;
  display: flex;
  font-size: 40px;
  font-weight: 800;
  color: #eeeeee;
  letter-spacing: -1.5px;
  cursor: pointer;
  text-transform: uppercase;
}
b {
  font-size: 40px;
  color: #bfdb38;
}
.navItems {
  display: flex;
}
.navItems li {
  list-style: none;
  margin: 0 15px;
}
.navItems li a {
  font-size: 35px;
  color: #eeeeee;
  margin-left: 120px;
  letter-spacing: -1px;
  text-decoration: none;
  text-transform: capitalize;
}
.navItems li:hover a {
  color: #bfdb38;
}
.links {
  margin-right: 5%;
}
.links a {
  font-size: 30px;
  color: #bfdb38;
  margin: 25px 10px;
}
.links a:hover {
  color: #eeeeee;
}
@media screen and (max-width: 768px) {
  .navItems {
    display: none; /* Küçük ekranlarda menüyü gizle */
  }
  .logo {
    margin-right: 80px;
  }
}

.bilgiler-container {
  display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  margin-top: 100px;
}
.bilgiler-kolay {
  position: relative;
  border: 10px solid #322653;
  border-radius: 10px;
  border-top-right-radius: 100px;
  background: linear-gradient(45deg, #bc7af9, #620475);
  background-image: url(/assets/images/back1.jpg);
  background-repeat: repeat;
  background-size: cover;
  width: 330px;
  height: 520px;
  margin: 10px;
}
.bilgiler-zor {
  position: relative;
  border: 10px solid #322653;
  border-radius: 10px;
  border-top-right-radius: 100px;
  background: linear-gradient(45deg, #bc7af9, #620475);
  background-image: url(/assets/images/back1.jpg);
  background-repeat: repeat;
  background-size: cover;
  width: 330px;
  height: 520px;
  margin: 10px;
}
.girdiler label {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 30px;
  padding: 3px;
  color: #9a03f8;
}
.girdiler button {
  padding: 170px;
  padding-bottom: 360px;
  opacity: 0;
  cursor: pointer;
}
.girdiler img {
  display: block;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}
