<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	/>
		<title>Document</title>
	</head>
	<header>
		<div class="container">
			<nav>
				<div class="logo"><b><</b>MCB<b>></b></div>
				<ul class="navItems">
					<li><a href="#">Anasayfa</a></li>
					<li><a href="#">Hakkımızda</a></li>
					<li><a href="#">İletişim</a></li>
				</ul>
				<div class="links">
					<a href="#"><i class="fab fa-linkedin"></i></a>
					<a href="#"><i class="fab fa-github"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
				</div>
			</nav>
		</div>
	</header>
	<body>
		<div class="bilgiler-container">
			<form class="bilgiler-form" action="/2zortest1" method="post">
				<h1>TEST 1</h1>
				<div class="bilgiler" id="bilgi-1">
					<div class="girdiler">
						<label for="2yastest1">NESNE TANIMA OYUNU</label>
						<button type="submit"></button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>

<style>
	@font-face {
		font-family: 'amatic';
		src: url('/assets/fonts/AmaticSC-Regular.ttf');
	}
	* {
		margin: 0;
		padding: 0;
	}
	body {
		background-image: url(/assets/images/bulut2.jpg);
		font-family: 'amatic';
	}
	nav {
		display: flex;
		width: 100%;
		justify-content: space-around;
		height: 80px;
		line-height: 80px;
		z-index: 111;
	}
	.logo {
		margin-left: 90px;
		display: flex;
		font-size: 40px;
		font-weight: 800;
		color: #eeeeee;
		letter-spacing: -1.5px;
		cursor: pointer;
		text-transform: uppercase;
	}
	b {
		font-size: 40px;
		color: #bfdb38;
	}
	.navItems {
		display: flex;
	}
	.navItems li {
		list-style: none;
		margin: 0 15px;
	}
	.navItems li a {
		font-size: 35px;
		color: #eeeeee;
		margin-left: 120px;
		letter-spacing: -1px;
		text-decoration: none;
		text-transform: capitalize;
	}
	.navItems li:hover a {
		color: #bfdb38;
	}
	.links {
		margin-right: 5%;
	}
	.links a {
		font-size: 30px;
		color: #bfdb38;
		margin: 25px 10px;
	}
	.links a:hover {
		color: #eeeeee;
	}
	@media screen and (max-width: 768px) {
		.navItems {
			display: none; /* Küçük ekranlarda menüyü gizle */
		}
		.logo {
			margin-right: 80px;
		}
	}
	.bilgiler-container {
		display: flex;
		justify-content: space-around;
		margin-top: 100px;
	}
	.bilgiler {
		position: relative;
		border: 10px solid #322653;
		border-radius: 10px;
		border-top-right-radius: 100px;
		background: linear-gradient(45deg, #bc7af9, #620475);
		background-image: url(/assets/images/back1.jpg);
		background-repeat: repeat;
		background-size: cover;
		width: 250px;
		height: 400px;
		margin: 10px;
	}
	.girdiler label {
		position: relative;
		font-size: 25px;
  	top: 20px; 
		left: 50px;
	}
	.girdiler h1{
		justify-items: center;
		margin-bottom: 100px;
	}
	.girdiler button {
		padding: 100px;
		padding-bottom: 290px;
		opacity: 0;
		cursor: pointer;
	}
</style>