<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		/>
		<link rel="stylesheet" href="/assets/css/testler.css">
		<title>6 YAS KOLAY TESTLER</title>
	</head>
	<header>
		<div class="container">
			<nav>
				<div class="logo"><b><</b>MCB<b>></b></div>
				<ul class="navItems">
					<li><a href="#">Anasayfa</a></li>
					<li><a href="#">Hakkımızda</a></li>
					<li><a href="#">İletişim</a></li>
				</ul>
				<div class="links">
					<a href="https://github.com/bugamehmet" target="_blank"><i class="fab fa-github"></i></a>
				</div>
			</nav>
		</div>
	</header>
	<body>
		<div class="bilgiler-container">
			<form class="bilgiler-form" action="/kolaytest/1" method="post">
				<h1>TEST 1</h1>
				<div class="bilgiler" id="bilgi-1">
					<div class="girdiler">
						<label for="6yastest1">HAFIZA OYUNU</label>
						<button type="submit"></button>
					</div>
				</div>
			</form>
			<form class="bilgiler-form" action="/kolaytest/2" method="post">
				<h1>TEST 2</h1>
				<div class="bilgiler" id="bilgi-1">
					<div class="girdiler">
						<label for="6yastest2">KAVRAM OYUNU</label>
						<button type="submit"></button>
					</div>
				</div>
			</form>
			<form class="bilgiler-form" action="/kolaytest/3" method="post">
				<h1>TEST 3</h1>
				<div class="bilgiler" id="bilgi-1">
					<div class="girdiler">
						<label for="6yastest3">FARK BULMA OYUNU</label>
						<button type="submit"></button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>